init.author.name=Samuel Kauffmann
init.author.email=skauffmann@tyneo.net
init.author.url=http://tyneo.net/
//registry.npmjs.org/:_authToken={{ onepasswordRead "op://Personal/Github/Tokens/npm_packages" }}
