{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# nvm versions hash: {{ range .nvm.versions }}{{ . }}{{ end }}

export NVM_DIR="$HOME/.nvm"
. "$NVM_DIR/nvm.sh"

{{ range .nvm.versions -}}
nvm install {{ . }}
{{ end -}}

nvm alias default {{ index .nvm.versions 0 }}

{{ end -}}
