#!/usr/bin/env zsh

export PATH="$(pyenv root)/shims:${PATH}"
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock

if [ -x /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

{{- if and (hasKey .hosts .chezmoi.hostname) (has "eurosport" (index .hosts .chezmoi.hostname).roles) }}

# Jira CLI API token
export JIRA_API_TOKEN="{{ onepasswordRead "op://Eurosport/Atlassian/API_TOKEN" }}"

# Apollo API Key - Eurosport
export APOLLO_API_KEY="{{ onepasswordRead "op://Eurosport/API Tokens/APOLLO_API_KEY" }}"

# New Relic API Keys WBD - Eurosport
export NEW_RELIC_API_KEY="{{ onepasswordRead "op://Eurosport/API Tokens/NEW_RELIC_API_KEY" }}"
export NEW_RELIC_ACCOUNT_ID={{ onepasswordRead "op://Eurosport/API Tokens/NEW_RELIC_ACCOUNT_ID" }}

# Sentry API Key eurosport-sas
export SENTRY_AUTH_TOKEN="{{ onepasswordRead "op://Eurosport/API Tokens/SENTRY_AUTH_TOKEN" }}"
{{- end }}
